@{
	ViewData["Title"] = "Product Details";
}
<div class="section">
	<!-- container -->
	<div class="container">
		<div class="product row container-fluid flex-lg-row">
			<div class="product-img col-md-5 taller">
				<img src="~/img/product01.png" alt="">
				<div class="product-label">
					<span class="sale">-30%</span>
					<span class="new">NEW</span>
				</div>
			</div>
			<div class="product-body col-md-7">
				<p class="product-category">Category</p>
				<h3 class="product-name"><a asp-area="Shop" asp-controller="Product" asp-action="Details" asp-route-id="productid">product name goes here</a></h3>
				<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
				<h4 class="product-price">Stock Available : 89</h4>
				<div class="product-rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
				
				<div class="product-details">
					<p>Description Goes Here</p>
				</div>
				<form class="form" method="post">
					<input type="number" value="1" min="1" style="padding:5px 10px; margin-bottom:5px;"/>
					&nbsp;
					<span>
						<button class="btn btn-primary"><i class="fa fa-cart-plus"></i> Add To Cart</button>
						&nbsp;
						<button type="submit" class="btn btn-success"><i class="fa fa-cart-arrow-down"></i> Buy Now</button>
					</span>
				</form>
			</div>
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<br />
<br />
<br />