@{
	ViewData["Title"] = "Orders";
}
<div class="section">
	<!-- container -->
	<div class="container">
		<div class="product">
			<div class="row container-fluid flex-lg-row" style="padding-top:15px; margin-bottom:-15px;">
				<div class="product-body col-md-1" style="vertical-align:middle;">
					<h3 class="product-name" style="font-size:125%;">#1</h3>
				</div>
				<div class="product-body col-md-2" style="vertical-align:middle;">
					<h3 class="product-name" style="font-size:125%;"><a asp-area="Shop" asp-controller="Order" asp-action="Details" asp-route-id="1">Order Id : 1</a></h3>
				</div>
				<div class="product-body col-md-3 m-auto">
					<h3 class="" style="font-size:125%;">Date : 26 Dec, 2023</h3>
				</div>
				<div class="product-body col-md-3" style="vertical-align:middle;">
					<h3 class="" style="font-size:125%;">Price : $980.00</h3>
				</div>
				<div class="product-body col-md-3" style="vertical-align:middle;">
					<h3 class="" style="font-size:125%;">Status : Pending</h3>
				</div>
			</div>
			<hr />
			<div class="row container-fluid flex-lg-row" style="padding-top:15px; margin-bottom:-15px;">
				<div class="product-body col-md-1" style="vertical-align:middle;">
					<h3 class="product-name" style="font-size:125%;">#2</h3>
				</div>
				<div class="product-body col-md-2" style="vertical-align:middle;">
					<h3 class="product-name" style="font-size:125%;"><a asp-area="Shop" asp-controller="Order" asp-action="Details" asp-route-id="2">Order Id : 2</a></h3>
				</div>
				<div class="product-body col-md-3 m-auto">
					<h3 class="" style="font-size:125%;">Date : 26 Dec, 2023</h3>
				</div>
				<div class="product-body col-md-3" style="vertical-align:middle;">
					<h3 class="" style="font-size:125%;">Price : $980.00</h3>
				</div>
				<div class="product-body col-md-3" style="vertical-align:middle;">
					<h3 class="" style="font-size:125%;">Status : Pending</h3>
				</div>
			</div>
			<hr />


		</div>

	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<br />
<br />
<br />