@{
	ViewData["Title"] = "Profile";
}
<div class="section">
	<!-- container -->
	<div class="container">
		<div class="product container-fluid flex-lg-row">
			<div class="row" style="padding:5px">
				<div class="col-md-6">
					<span style="font-size:150%;">Name : <b>Name Here</b></span>
				</div>
				<div class="col-md-6">
					<span style="font-size:150%;">Username : <b>Username Here</b></span>
				</div>
			</div>
			<div class="row" style="padding:5px">
				<div class="col-md-6">
					<span style="font-size:150%;">Phone : <b>+8801234512345</b></span>
				</div>
				<div class="col-md-6">
					<span style="font-size:150%;">Email : <b>user@example.com</b></span>
				</div>
			</div>

			<div class="row" style="padding:5px">
				<div class="col-md-6">
					<span style="font-size:150%;">Shipping Addresss :</span><br/>
					<div style="border:1px solid gray;font-size:130%;padding:5px;border-radius:5px;">
						Detailed Address <br/>
						Here will <br/>
						be placed
					</div>
				</div>
			</div>


		</div>
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<br />
<br />
<br /> 