
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav flex-grow-1">
				<li class="active"><a asp-area="Shop" asp-controller="Home" asp-action="Index">Home</a></li>

				@foreach (var item in Model.Categories)
				{
					<li><a asp-area="Shop" asp-controller="Products" asp-action="Category" asp-route-id="@item.Id">@item.Name</a></li>
				}
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>